<div class="row">

  <nav class="navbar navbar-light" style="background-color: #337ab7;">
    <a class="navbar-brand" style="color: white;">InstaBug Chat Application</a>
    <div class="dropdown" style="text-align: right;padding-top: 15px;font-size: large;padding-right: 5px;">
      <a class="nav-link dropdown-toggle"  id="navbarDropdown" role="button" data-toggle="dropdown" style="color: white;">
        <%= current_user.username%>
      </a>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown" >
        <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'dropdown-item' %>
      </div>
    </div>
  </nav>

  <div class="col-md-9">
    <ul id="conversations-list">
      <% @conversations.each do |conversation| %>
        <%= render 'conversations/conversation', conversation: conversation, user: current_user %>
      <% end %>
    </ul>
  </div>

  <div class="col-md-3">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">User list</h3>
      </div>
      <div class="panel-body">
        <ul>
          <% @users.each do |user| %>
            <li><%= link_to user.username, conversations_path(user_id: user), remote: true, method: :post %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
